.headerStyle {
	position: relative;
	z-index: 998;
	height: 100px;
	width: 100%;
}

.imgStyle {
	object-fit: cover;
	width: 100%;
	max-height: 100px;
}

.footerStyle {
	margin-top: 50px;
	position: relative;
	height: 70px;
	z-index: 99998;
	background-color: #757575;
}
