.headerStyle {
	position: relative;
	z-index: 998;
	height: 100px;
	width: 100%;
}

.imgStyle {
	object-fit: cover;
	width: 100%;
	max-height: 100px;
}

.footerStyle {
	position: relative;
	height: 70px;
	z-index: 99998;
	background-color: #757575;
}

.link {
	padding: 5px;
	width: max-content;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	text-decoration: none;
	color: #9d9d9d;
	gap: 5px;
	background-color: #2a2a2a;
	border-radius: 5px;
}
