@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap');

.gamesPageStyle {
	margin-left: 270px;
	padding: 0px 10px;
}

.gamesBoxStyle {
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.gameCardStyle {
	max-width: 250px;
	height: 350px;
	border-radius: 5px;
	color: white;
	background-color: #747474;
}

.imgStyle {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	max-width: 250px;
}

.textBoxStyle {
	font-family: 'Amaranth', sans-serif;
	padding: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.titleStyle {
	font-weight: 700;
	font-size: 17px;
}

.descriptionStyle {
	font-style: italic;
	font-size: 14px;
	max-height: 75px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.leftBarStyle {
	height: 100%;
	width: 240px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	color: white;
	background-color: #121212;
	overflow-x: hidden;
	padding: 20px;
	padding-top: 100px;
	font-family: 'Big Shoulders Stencil Text', cursive;
}

.textBoxLeftBox {
	position: relative;
	top: -60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.filterSortStyle {
	position: relative;
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
	overflow: auto;
	text-overflow: clip;
}

.filterSortStyleActive {
	position: relative;
	max-height: 200px;
	overflow: auto;
	text-overflow: clip;
}

.btnClearStyle {
	justify-content: center;
	width: 150px;
	margin: 1px;
	padding: 6px;
	font-size: 16px;
	color: white;
	border: 1px solid black;
	background: #575757;
	font-family: 'Big Shoulders Stencil Text', cursive;
}

.titleParamsStyle {
	width: 100%;
	margin: 1px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid black;
	background: #575757;
}

.sortBox {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.platformBox {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.categoryBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.categoryLabel {
	width: 100px;
}

.logoStyle {
	position: relative;
	top: -80px;
	width: 240px;
	box-shadow: 0 0 10px 6px rgb(70, 70, 70);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.noResultImg {
	border-radius: 10px;
	max-height: 500px;
	opacity: .7;
}
