@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

.gamesPageStyle {
  margin-left: 270px;
  padding: 0px 10px;
}

.gamesBoxStyle {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.gameCardStyle {
  max-width: 250px;
  height: 350px;
  border-radius: 5px;
  color: white;
  background-color: #575757;
}

.imgStyle {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 250px;
}

.textBoxStyle {
  font-family: 'Amaranth', sans-serif;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleStyle {
  font-weight: 700;
  font-size: 17px;
}

.descriptionStyle {
  font-style: italic;
  font-size: 14px;
  max-height: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.leftBarStyle {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #121212;
  overflow-x: hidden;
  padding: 20px;
  padding-top: 100px;
}

.leftBarStyle:hover {
  color: #f1f1f1;
}

.logoStyle {
  position: relative;
  top: -80px;
  width: 240px;
  box-shadow: 0 0 10px 6px rgb(70, 70, 70);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
