@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap');

.container {
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-size: 30px;
  background-color: #575757;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.link {
  margin: 1px;
  height: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  padding: 20px;
}

.link:hover{
  background-color: #00000051;
}

.link:global.active {
  background-color: #717171;
}
