@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap');

.pageStyle {
	font-family: 'Amaranth', sans-serif;
	font-size: 15px;
	min-height: calc(100vh - 240px);
	display: flex;
}

/* left bar box */
.leftBar {
	min-height: 100%;
	width: auto;
	display: flex;
	flex-direction: column;
	background-color: rgb(47, 47, 47);
	gap: 10px;
}

.navBar {
	display: flex;
	flex-direction: column;
}

.imageStyle {
	margin: 10px;
	max-width: 200px;
	max-height: 200px;
	border: 10px outset rgb(137, 137, 137);
	background-color: rgb(95, 95, 95);
}

.btnStyle {
	font-family: 'Big Shoulders Stencil Text', cursive;
	font-size: 20px;
	margin: 1px 0 1px 0;
	padding: 10px;
	padding-left: 20px;
	width: auto;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	cursor: pointer;
}

.btnStyle:hover {
	background-color: rgb(95, 95, 95);
}

.btnActive {
	margin-left: 10px;
	padding-left: 0;
	border-left: 10px solid rgb(154, 154, 154);
	background-color: #5f5f5f;
}

/* right info box */
.rightBox {
	min-width: 100%;
	padding: 10px;
}

.changeLabelSave {
	height: 25px;
	width: 200px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
	gap: 10px;
	cursor: pointer;
}

.changeLabelSave:hover {
	border: 1px solid rgb(95, 95, 95);
	color: white;
	background-color: #07340089;
}

.changeLabelEdit {
	height: 25px;
	width: 200px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
	gap: 10px;
	cursor: pointer;
}

.changeLabelEdit:hover {
	border: 1px solid rgb(95, 95, 95);
	margin: 1px;
	color: white;
	background-color: #21212189;
}

.keyDaten {
	display: inline-table;
	min-width: 150px;
}

.valueDaten {
	margin-left: 50px;
}

h2 {
	padding: 5px;
	min-width: 100%;
	background: linear-gradient(
		144deg,
		rgb(185, 185, 185) 0%,
		rgba(95, 95, 95, 1) 42%,
		rgba(95, 95, 95, 1) 100%
	);
	font-weight: bolder;
}

.userData {
	display: none;
}

.userDataActive {
}

.privatData {
	display: none;
}

.privatDataActive {
}

.educWorkData {
	display: none;
}

.educWorkDataActive {
}

.financialData {
	display: none;
}

.financialDataActive {
}

.systemData {
	display: none;
}

.systemDataActive {
}
